
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<ul>
    <li>@Html.ActionLink("Administration Panel", "Index", "Admin")</li>
    <li>@Html.ActionLink("Category Administration", "Index", "Category")</li>
    <li>@Html.ActionLink("Product Adminsitration", "Index", "Product")</li>
</ul>